.navbar {
    border-bottom: solid 5px #2d3536;
    background-color: #dad3c8;
}

.nav-item .nav-link  {

    color: #3e5e93;
    font-size: 24px;
}

header {
    background-color: #ffffff;


}


header h1 { padding-right: 80px;
    color: #4267a2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer {
    background-color: #dad3c8;
    border-bottom: solid 5px #2d3536;
    border-top: solid 5px #2d3536;
    text-align: center;
    color: #3e5e93;
    font-weight: bolder;
}

.nav-item.nav-link.active{
    color:#5e2558!important;  font-weight: bold;
}
.navbar-brand {
    color: #3e5e93;
    font-weight: bolder;
}

.doctor h3 {
    color: #02212b;
}
.backg{
    /*min-height: 30vh;*/
    background-image:url("../images/cover.jpg");
    background-position: center;
    background-size: cover;
}
.image-slideshow {
    background-position: center;
    width: 1151px;
    height: 400px;
}
